<%- include("templates/header") %> 
<% if(authenticated == true) { %>
    <div class="flex justify-center">
        <div class="flex-col mx-2 bg-green-200 p-2 rounded-md shadow-md shadow-black">
            Hello, <%= username %>
            <button class="flex mt-4 mb-2 p-1 border border-black bg-white"><a href="/members">Go to Members Area</a></button>
            <button class="flex p-1 border border-black bg-white"><a href="/logout">Logout</a></button>
        </div>
    </div>
    
<% }else { %>
    <div class="flex justify-center">
        <div class="flex-col bg-green-200 p-4 rounded-md shadow-md shadow-black">
            <button class="flex mb-2 p-1 border border-black bg-white"><a href="/login">Login</a></button>
            <button class="flex p-1 border border-black bg-white"><a href="/createuser">Sign Up</a></button>
        </div>
    </div>
<% } %>
<%- include("templates/footer") %>