<%- include("templates/header") %> 
<div class="flex justify-center">
    <div class="bg-green-200 p-2 rounded-md shadow-md shadow-black">
        <div class="flex">Hello <%= username %></div>
        <button class="flex p-1 border border-black bg-white"><a href="/logout">Logout</a></button>
    </div>
</div>
<div class="flex grid grid-rows-3 md:grid-rows-1 grid-flow-col gap-4 mt-4 justify-items-center">
    <div><img src='fluffy.gif' style='width:250px;'></div>
    <div><img src='socks.gif' style='width:250px;'></div>
</div>
<%- include("templates/footer") %>