<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  <title>Forgot Password - Code</title>
  <script src="../js/include.js" defer></script>
  <script type="module" src="../js/forgotPasswordCode.js"></script>
</head>

<body class="min-h-screen">
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div
        class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
        <h1 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Forgot your password?
        </h1>
        <p class="font-light text-gray-500 dark:text-gray-400">Please enter the 6 digit code sent to your email.</p>
        <form id="pw-recovery-code-form" class="max-w-sm mx-auto">
          <div class="flex mb-2 mt-4 items-center justify-between px-10">
            <div>
              <label for="code-1" class="sr-only">First code</label>
              <input type="text" maxlength="1" data-focus-input-init data-focus-input-next="code-2" id="code-1"
                class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                required />
            </div>
            <div>
              <label for="code-2" class="sr-only">Second code</label>
              <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-1"
                data-focus-input-next="code-3" id="code-2"
                class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                required />
            </div>
            <div>
              <label for="code-3" class="sr-only">Third code</label>
              <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-2"
                data-focus-input-next="code-4" id="code-3"
                class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                required />
            </div>
            <div>
              <label for="code-4" class="sr-only">Fourth code</label>
              <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-3"
                data-focus-input-next="code-5" id="code-4"
                class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                required />
            </div>
            <div>
              <label for="code-5" class="sr-only">Fifth code</label>
              <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-4"
                data-focus-input-next="code-6" id="code-5"
                class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                required />
            </div>
            <div>
              <label for="code-6" class="sr-only">Sixth code</label>
              <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-5" id="code-6"
                class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                required />
            </div>
          </div>

          <button id="check-pw-reset-code-btn" type="submit"
            class="w-full text-white bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800">Verify
            Code</button>
        </form>
      </div>
    </div>
  </section>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</body>

</html>